In [1]:
import pandas as pd
import os
import main
import csv
import main

In [2]:
df=main.load()

In [3]:
df.columns

Index(['Price', 'Number of rooms', 'Living Area', 'Fully equipped kitchen',
       'Furnished', 'Open fire', 'Terrace', 'Area of the terrace', 'Garden',
       'Area of the garden', 'Surface of the land', 'Number of facades',
       'Swimming pool', 'State of the building', 'zipcode', 'type'],
      dtype='object')

In [4]:
columns_tuple=[]
for f in df.columns:
    if f=='Price':
        columns_tuple.append(('Target',f))
    elif f in ['Number of rooms', 'Living Area','State of the building']:
        columns_tuple.append(('Group 1',f))
    elif f == 'zipcode':
        columns_tuple.append(('Spatial',f))
    else:
        columns_tuple.append(('Group 2', f))

In [5]:
columns_tuple

[('Target', 'Price'),
 ('Group 1', 'Number of rooms'),
 ('Group 1', 'Living Area'),
 ('Group 2', 'Fully equipped kitchen'),
 ('Group 2', 'Furnished'),
 ('Group 2', 'Open fire'),
 ('Group 2', 'Terrace'),
 ('Group 2', 'Area of the terrace'),
 ('Group 2', 'Garden'),
 ('Group 2', 'Area of the garden'),
 ('Group 2', 'Surface of the land'),
 ('Group 2', 'Number of facades'),
 ('Group 2', 'Swimming pool'),
 ('Group 1', 'State of the building'),
 ('Spatial', 'zipcode'),
 ('Group 2', 'type')]

In [6]:
multiindex = pd.MultiIndex.from_tuples(columns_tuple)

In [8]:
df.columns=pd.MultiIndex.from_tuples(columns_tuple)

In [11]:
df.reindex(columns = ['Target','Group 1','Group 2','Spatial'], level=0)

                  Target         Group 1                                     \
                   Price Number of rooms Living Area  State of the building
Offer Id
rent  1610665      485.0             1.0        40.0      \nExcellentétat\n
      2718948      790.0             2.0       140.0                \nBon\n
      3229637      900.0             3.0       103.0                \nBon\n
      3860205      520.0             2.0        50.0                \nBon\n
      4141598      760.0             1.0        55.0                    NaN
...                  ...             ...         ...                    ...
sale  10316113  349000.0             4.0         NaN      \nExcellentétat\n
rent  10316130     590.0             1.0         NaN      \nExcellentétat\n
      10316135     595.0             1.0         NaN                    NaN
      10316134    1150.0             3.0       800.0  \nFraîchementrénové\n
      10316136    1590.0             3.0       100.0      \nExcellentétat\n

                              Group 2                              \
               Fully equipped kitchen Furnished Open fire Terrace
Offer Id
rent  1610665                    True     False     False   False
      2718948                    True     False     False   False
      3229637                     NaN     False     False   False
      3860205                    True     False     False   False
      4141598                    True       NaN     False    True
...                               ...       ...       ...     ...
sale  10316113                    NaN       NaN     False   False
rent  10316130                   True       NaN     False   False
      10316135                    NaN       NaN     False   False
      10316134                   True     False     False    True
      10316136                   True     False     False    True

                                                              \
               Area of the terrace Garden Area of the garden
Offer Id
rent  1610665                  0.0  False                0.0
      2718948                  0.0  False                0.0
      3229637                  0.0   True              330.0
      3860205                  0.0  False                0.0
      4141598                 30.0   True            10000.0
...                            ...    ...                ...
sale  10316113                 0.0   True                1.0
rent  10316130                 0.0  False                0.0
      10316135                 0.0  False                0.0
      10316134                 1.0   True                1.0
      10316136                28.0  False                0.0

                                                                    \
               Surface of the land Number of facades Swimming pool
Offer Id
rent  1610665                  NaN               2.0         False
      2718948                  NaN               2.0         False
      3229637                400.0               3.0         False
      3860205                  NaN               2.0         False
      4141598                  NaN               2.0         False
...                            ...               ...           ...
sale  10316113                 NaN               NaN         False
rent  10316130                 NaN               1.0         False
      10316135                 NaN               NaN         False
      10316134                 NaN               4.0         False
      10316136                 NaN               2.0         False

                            Spatial
                       type zipcode
Offer Id
rent  1610665        Studio    4020
      2718948   Appartement    3200
      3229637        Maison    7020
      3860205   Appartement    6900
      4141598   Appartement    1470
...                     ...     ...
sale  10316113  Appartement    3550
rent  10316130  Appartement    4000
      10316135  Appartement    9000
      10316134     Bungalow    4052
      10316136       Duplex    1030

[78192 rows x 16 columns]

In [18]:
df.loc['sale']

            Target         Group 1                            Group 2  \
             Price Number of rooms Living Area Fully equipped kitchen
Id
4132492   210000.0             1.0         NaN                   True
5075537   175000.0             1.0        50.0                   True
5650273   535000.0             6.0         NaN                   True
5750433     2750.0             7.0       450.0                   True
6506854    97000.0             3.0         NaN                  False
...            ...             ...         ...                    ...
10316116  249000.0             2.0         NaN                    NaN
10315700  529000.0             2.0       134.0                   True
10316128  649000.0             4.0       206.0                   True
10316127  325000.0             2.0        91.0                    NaN
10316113  349000.0             4.0         NaN                    NaN

                                                                 \
         Furnished Open fire Terrace Area of the terrace Garden
Id
4132492        NaN     False   False                 0.0  False
5075537      False     False    True                 4.0  False
5650273        NaN     False   False                 0.0  False
5750433        NaN     False    True                 NaN  False
6506854        NaN     False    True                 NaN  False
...            ...       ...     ...                 ...    ...
10316116       NaN     False    True                 2.0  False
10315700     False     False   False                 0.0  False
10316128       NaN     False    True                36.0   True
10316127       NaN     False   False                 0.0  False
10316113       NaN     False   False                 0.0   True

                                                                   \
         Area of the garden Surface of the land Number of facades
Id
4132492                 0.0                 NaN               1.0
5075537                 0.0                 NaN               NaN
5650273                 0.0                 NaN               3.0
5750433                 0.0              2600.0               4.0
6506854                 0.0              2625.0               4.0
...                     ...                 ...               ...
10316116                0.0                 NaN               NaN
10315700                0.0                 NaN               2.0
10316128              419.0               520.0               3.0
10316127                0.0                 NaN               2.0
10316113                1.0                 NaN               NaN

                                     Group 1 Spatial               Group 2
         Swimming pool State of the building zipcode                  type
Id
4132492          False       \nÀrafraîchir\n    2140           Appartement
5075537          False               \nBon\n    3530  Appartementdeservice
5650273          False                   NaN    3650              Immeuble
5750433          False     \nExcellentétat\n    1180                 Villa
6506854          False          \nÀrénover\n    3640                Maison
...                ...                   ...     ...                   ...
10316116         False                   NaN    2610           Appartement
10315700         False               \nBon\n    2018           Appartement
10316128         False     \nExcellentétat\n    1860                Maison
10316127         False                   NaN    2018           Appartement
10316113         False     \nExcellentétat\n    3550           Appartement

[57005 rows x 16 columns]